.doc img{
    width: 600px;
    height: 400px;
    position: relative;
    left: 350px;
    margin: 40px;
}
.doc{
    background-color: black;
}
h1{
    color: white;
    font-style: italic;
    text-align: center;
    position: relative;
    top: 20px;
}